--extra-index-url https://download.pytorch.org/whl/cu130

setuptools==81.0.0
wheel==0.47.0

kaggle==2.2.3
ultralytics==8.4.87
ultralytics-thop==2.0.20

torch==2.12.1+cu130
torchvision==0.27.1+cu130

mlflow==3.14.0

onnx==1.22.0
onnxslim==0.1.94
onnxruntime-gpu==1.27.0

opencv-python==5.0.0.93
numpy==2.2.6
PyYAML==6.0.3

pytest==9.1.1
